<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 id="name"></h1>
        </div>
    </div>
    <div class="row">
        <div id="image" class="col-4">

        </div>
        <div id="status" class="col-8 scroll">

        </div>
    </div>
    <div class="row">
        <div id="nav" class="col-4">
            Navigation
            <button id="logout">Log Out</button>
        </div>
        <div class="col-8">
            <button id="water" type="button" class="btn btn-primary">Water</button>
            <button id="sleep" type="button" class="btn btn-success">Sleep</button>
            <button id="play" type="button" class="btn btn-danger">Play</button>
            <button id="feed" type="button" class="btn btn-warning">Feed</button>
        </div>
    </div>
</div>
{{!-- Questions Modal --}}
{{> modals/questions-modal}}