.list-group-item {
  line-height: 2.5;
}

body{
  background-image: url("/public/images/pokemon.jpg");
  background-size: contain;
}

.jumbotron{
  margin-top: 225px;
}

.scroll{
  height: 150px;
  overflow-y: scroll;
}

#status{
background-color: white;

}