<div class="modal fade" id="questions-modal" tabindex="-1" role="dialog" aria-labelledby="quesions-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Answer these questions to be matched with a Pokemon</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        {{!-- start of questions --}}
        <div class="container">

          {{!-- <h2>Survey Questions</h2> --}}
          <hr>

          <h3><strong>Question 1</strong></h3>
          <h4>I am a night owl.</h4>
          <select class="chosen-select" id="q1">
            <option value=""></option>
            <option value="1">1 (Strongly Disagree)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 (Strongly Agree)</option>
          </select>

          <h3><strong>Question 2</strong></h3>
          <h4>I make friends easily.</h4>
          <select class="chosen-select" id="q2">
            <option value=""></option>
            <option value="1">1 (Strongly Disagree)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 (Strongly Agree)</option>
          </select>

          <h3><strong>Question 3</strong></h3>
          <h4>I am always busy.</h4>
          <select class="chosen-select" id="q3">
            <option value=""></option>
            <option value="1">1 (Strongly Disagree)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 (Strongly Agree)</option>
          </select>

          <h3><strong>Question 4</strong></h3>
          <h4>I always follow the rules.</h4>
          <select class="chosen-select" id="q4">
            <option value=""></option>
            <option value="1">1 (Strongly Disagree)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 (Strongly Agree)</option>
          </select>

          <h3><strong>Question 5</strong></h3>
          <h4>I seek adventure.</h4>
          <select class="chosen-select" id="q5">
            <option value=""></option>
            <option value="1">1 (Strongly Disagree)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 (Strongly Agree)</option>
          </select>

          <h3><strong>Question 6</strong></h3>
          <h4>I am very empathatic.</h4>
          <select class="chosen-select" id="q6">
            <option value=""></option>
            <option value="1">1 (Strongly Disagree)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 (Strongly Agree)</option>
          </select>

          <h3><strong>Question 7</strong></h3>
          <h4>I am very competitive.</h4>
          <select class="chosen-select" id="q7">
            <option value=""></option>
            <option value="1">1 (Strongly Disagree)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 (Strongly Agree)</option>
          </select>

          <h3><strong>Question 8</strong></h3>
          <h4>I enjoy working in teams.</h4>
          <select class="chosen-select" id="q8">
            <option value=""></option>
            <option value="1">1 (Strongly Disagree)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 (Strongly Agree)</option>
          </select>

          <h3><strong>Question 9</strong></h3>
          <h4></h4>
          <select class="chosen-select" id="q9">
            <option value=""></option>
            <option value="1">1 (Strongly Disagree)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 (Strongly Agree)</option>
          </select>

          <h3><strong>Question 10</strong></h3>
          <h4>I am modest about what I acheieve</h4>
          <select class="chosen-select" id="q10">
            <option value=""></option>
            <option value="1">1 (Strongly Disagree)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 (Strongly Agree)</option>
          </select>
          <br>
          <br>
          {{!-- end of questions --}}
          <button type="submit" class="btn btn-primary btn-lg btn-block" id="done"><i class="fa fa-check-circle"
              aria-hidden="true"></i>
            Done</button>
          <hr>
        </div>
      </div>

    </div>
  </div>
</div>

<script src="js/questionslogic.js"></script>